body{
    background-color: black;
    color: antiquewhite;
}
.box3{
    position: relative;
    top: 80px;
    height: 450px;
    width: 10px;
    width: 60%;
    margin: 0 auto 0 auto;
    border-radius: 3%;
    border-style: outset;
    border-width: 7px;
    border-color: rgba(255, 0, 170, 0.945);
    background-color: white;
    color: black;
    padding-left: 10%;
}
img{
    width: 25%;
    height: 25%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
nav ul li{
    list-style-position: inside;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
}
marquee{
    background-color: green;
    direction: ltr;
}
hr{
    width: 100%;
}
p{
    padding-right: 10%;

}
.CV{
    background-color:rgb(248, 6, 175) ;
    color: aliceblue;
    border-radius: 50%;
    list-style-position: inside;
    font-weight: bold;
}
.CV a:hover{
    color: green;
}